@using Jun.Domain.Entity.Org;
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mini-fit">
    <form id="form1" method="post">

        <div id="tabs1" class="mini-tabs" activeIndex="0" style="width:100%;height:500px">
            <div title="基本信息">
                <div style="padding-left:11px;padding-bottom:5px;">
                    <table style="table-layout:fixed;">
                        <tr>
                            <td style="width:70px;">中文名称：</td>
                            <td style="width:150px;">
                                <input name="CnName" class="mini-textbox" required="true" emptyText="请输入中文名称" />
                            </td>
                            <td style="width:70px;">所属部门：</td>
                            <td style="width:150px;">
                                <input name="dept_id" class="mini-combobox" valueField="id" textField="name"
                                       onvaluechanged="onDeptChanged" required="true"
                                       emptyText="请选择部门" />
                            </td>
                        </tr>
                        <tr>
                            <td>薪资待遇：</td>
                            <td>
                                <input name="salary" class="mini-textbox" required="true" />
                            </td>
                            <td>职位：</td>
                            <td>
                                <input name="position" class="mini-combobox" valueField="id" textField="name" />
                            </td>
                        </tr>

                        <tr>
                            <td>学历：</td>
                            <td>
                                <input name="educational" class="mini-combobox" valueField="id" textField="name" />
                            </td>
                            <td>毕业院校：</td>
                            <td>
                                <input name="school" class="mini-textbox" />
                            </td>
                        </tr>
                    </table>
                </div>
                <fieldset style="border:solid 1px #aaa;padding:3px;">
                    <legend>基本信息</legend>
                    <div style="padding:5px;">
                        <table>
                            <tr>
                                <td style="width:70px;">姓名</td>
                                <td style="width:150px;">
                                    <input name="name" class="mini-textbox" required="true" />
                                </td>
                                <td style="width:70px;">性别：</td>
                                <td>
                                    <select name="gender" class="mini-radiobuttonlist">
                                        <option value="1">男</option>
                                        <option value="2">女</option>
                                    </select>
                                </td>

                            </tr>
                            <tr>
                                <td>年龄：</td>
                                <td>
                                    <input name="age" class="mini-spinner" value="25" minValue="1" maxValue="200" />
                                </td>
                                <td>出生日期：</td>
                                <td>
                                    <input name="birthday" class="mini-datepicker" required="true" emptyText="请选择日期" alwaysView="true" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <input name="married" class="mini-checkbox" text="已婚？" trueValue="1" falseValue="0" />
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>国家：</td>
                                <td>
                                    <input name="country" class="mini-combobox" />
                                </td>
                                <td>城市：</td>
                                <td>
                                    <input name="city" class="mini-combobox" />
                                </td>
                            </tr>
                            <tr>
                                <td>备注：</td>
                                <td colspan="3">
                                    <input name="remarks" class="mini-textarea" style="width:378px;" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </fieldset>

            </div>
            <div title="Tab2" iconCls="icon-cut">
                2
            </div>
            <div title="Tab3" showCloseButton="true">
                3
            </div>
            <div title="Tab4" showCloseButton="true" enabled="false">
                4
            </div>
        </div>

        <div style="text-align:center;padding:10px;">
            <a class="mini-button" onclick="onOk" style="width:60px;margin-right:20px;">确定</a>
            <a class="mini-button" onclick="onCancel" style="width:60px;">取消</a>
        </div>

    </form>
</div>




@section Scripts{
    <script type="text/javascript">

        mini.parse();
        var form = initForm("form1");
        var companyId =@(ViewBag.CompanyId??"null");
        if (companyId) {
              $.ajax({
            url: "/Org/Company/Single",
            type: "post",
            data: {
                id:companyId
            },
            success: function (text) {
                var data = mini.decode(text);   //反序列化成对象
                form.setData(data);             //设置多个控件数据
            }
        })
        }


        function onOk() {
            //http://192.168.1.133:7790/BaseApp/AppLogin

            $.ajax({
                url: "http://192.168.1.133:7790/BaseApp/AppLogin",
                type: "get",
                //contentType: 'application/json',
                data: { userName: "zhupingjie", userPwd:'123456' },
                success: function (text) {
                    console.log('res', text);
                    //cancel();
                }
            });

            /*
        var data = form.getData();      //获取表单多个控件的数据
        //var json = mini.encode(data);   //序列化成JSON
        $.ajax({
            url: "/Org/Company/Create",
            type: "post",
            contentType: 'application/json',
            data: JSON.stringify({ entity: data }),
            success: function (text) {
                alert("提交成功，返回结果:" + text);
            }
        });
            */
        }

        function onCancel() {
            $.ajax({
                url: "http://192.168.1.133:7790/BaseApp/GetMessages",
                type: "post",
                //contentType: 'application/json',
                data: { userId:80},
                success: function (text) {
                    console.log('res2', text);

                }
            });

        }



    </script>
}

