<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Jun.Web</title>

    <link href="~/resource/ui/miniui/miniui.css" rel="stylesheet" />
    <link href="~/resource/css/common.css" rel="stylesheet" />
    <link href="~/resource/css/layout.css" rel="stylesheet" />
    <link href="~/resource/ui/miniui/icons.css" rel="stylesheet" />
    <script src="~/resource/js/jquery/jquery-1.6.2.min.js"></script>
    <script src="~/resource/js/common/Core.js"></script>
    <script src="~/resource/js/common/GridHelper.js"></script>
    <script src="~/resource/js/common/TreeHelper.js"></script>
    <script src="~/resource/js/common/TreeGridHelper.js"></script>
    <script src="~/resource/js/common/FormHelper.js"></script>
    <script src="~/resource/js/common/Static.js"></script>
    <script src="~/resource/ui/miniui/miniui.js"></script>

    @RenderSection("Styles", required: false)

</head>
<body>

    @RenderBody()

    @RenderSection("Scripts", required: false)


</body>
</html>
