html, html body {
    padding: 0;
    border: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Verdana;
    font-size: 12px;
    line-height: 22px;
}

.header {
    background: url(../SourceFiles/Images/Core/header.gif) repeat-x 0 -1px;
}

body .header .topNav {
    position: absolute;
    right: 8px;
    top: 5px;
    font-size: 12px;
    line-height: 25px;
}

.header .topNav a {
    text-decoration: none;
    color: #222;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    margin-left: 3px;
    margin-right: 3px;
}

    .header .topNav a:hover {
        text-decoration: underline;
        color: Blue;
    }
